# Python cache / virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Large data files
*.pkl
*.gz

# IDE settings
.idea/
.vscode/

# Streamlit
.streamlit/

# OS-specific
.DS_Store
Thumbs.db
